<main>
  <section class="header">
    <div class="navigation">
      <h1 class="no-margin">Übersicht</h1>
    </div>

    <mat-divider></mat-divider>
  </section>

  <section *ngIf="loaded">
    <mat-tab-group (selectedIndexChange)="selectTab($event)">
      <mat-tab *ngFor="let phase of tournament.phases" [label]="phase.name">
        <mat-tab-group (selectedIndexChange)="selectGroup($event)" *ngIf="phase.rounds > 1">
          <mat-tab *ngFor="let i of counter(phase.groups)" [label]="'Gruppe ' + groups[i]">
            <app-stats-table [phase]="phase" [teams]="groupTeams" [update]="update"></app-stats-table>
          </mat-tab>
        </mat-tab-group>
        <app-stats-table *ngIf="phase.rounds === 1" [phase]="phase" [teams]="groupTeams" [update]="update"></app-stats-table>
      </mat-tab>
    </mat-tab-group>
  </section>
</main>

<app-spinner *ngIf="!loaded"></app-spinner>
