<div class="overlay full-screen">
  <h1 class="center-content main-header">Turnier Helfer</h1>

  <ul class="infos center-content">
    <li><a href="https://twitter.com/johannesibk" target="_blank">Coded by JohannesIBK</a></li>
    <li>&nbsp;|&nbsp;</li>
    <li><a href="https://github.com/JohannesIBK/thp/" target="_blank">Github</a></li>
    <li>&nbsp;|&nbsp;</li>
    <li><a href="https://twitter.com/xTaxxel" target="_blank">Background by Taxxel</a></li>
  </ul>
</div>

<div class="background full-screen"></div>
