<mat-card class="change-pw">
  <div class="inputs">
    <h1>Passwort ändern</h1>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Altes Passwort</mat-label>
      <input [formControl]="oldPW" [type]="hide ? 'password' : 'text'" matInput />
      <button (click)="hide = !hide" mat-icon-button matSuffix>
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Neues Passwort</mat-label>
      <input [formControl]="newPW" [type]="hide1 ? 'password' : 'text'" matInput />
      <button (click)="hide1 = !hide1" mat-icon-button matSuffix>
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Neues Passwort wiederholen</mat-label>
      <input [formControl]="newPWRetry" [type]="hide2 ? 'password' : 'text'" matInput />
      <button (click)="hide2 = !hide2" mat-icon-button matSuffix>
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="align-end">
      <button (click)="changePW()" color="accent" mat-stroked-button>Passwort ändern</button>
    </div>
  </div>
</mat-card>
