<h1 mat-dialog-title>Log hinzufügen</h1>
<div mat-dialog-content>
  <p>Hier können die Punkte des Teams verändert werden. Um Punkte abzuziehen, muss ein negativer Wert angegeben werden.</p>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Punkte (±10)</mat-label>
      <input matInput type="number" [formControl]="pointsInput" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Grund</mat-label>
      <textarea matInput [formControl]="reasonInput"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Runde</mat-label>
      <mat-select [formControl]="roundSelect">
        <mat-option *ngFor="let i of ngCounter(data.phase.rounds)">Runde {{ i + 1 }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions class="align-end">
  <button mat-button [mat-dialog-close]="null">Schließen</button>
  <button color="accent" mat-raised-button [disabled]="form.invalid" (click)="saveLog()">
    <div class="add-button-content">
      Speichern
      <mat-spinner [diameter]="15" *ngIf="loading" color="warn" class="add-spinner"></mat-spinner>
    </div>
  </button>
</mat-dialog-actions>
