<h1 mat-dialog-title>Team Logs</h1>
<div mat-dialog-content>
  <mat-tab-group (selectedIndexChange)="selectTab($event)">
    <mat-tab *ngFor="let i of counter(data.phase.rounds)" [label]="'Runde ' + (i + 1)">
      <table class="mat-elevation-z8">
        <tr class="table-header">
          <th>Grund</th>
          <th>Punkte</th>
          <th>Uhrzeit</th>
        </tr>

        <tr *ngFor="let stat of tableData; index as i" [ngClass]="{ background: i % 2 === 0 }">
          <td>{{ stat.reason }}</td>
          <td>{{ toTimeString(stat.time) }}</td>
        </tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>

<mat-dialog-actions class="align-end">
  <button mat-button [mat-dialog-close]="null">Schließen</button>
</mat-dialog-actions>
