.login {
  margin: 50px auto;
  max-width: 400px;
  @media (max-width: 489px) {
    width: auto;
    margin: 50px 5vw;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
}

.login-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
